# Git will ignore the files placed here

# Editor back-up files
~*

# TexMaker auxillary files
*.aux
*.log
*.synctex.gz
*.toc

# IDE files
.idea

# Project and App Migrations
rfa_website/real_fantasy_adventure_app/migrations/