<html>
	<head>
		<title>Welcome to Real Fantasy Adventure</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Oswald|Cinzel|Tangerine' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
	</head>
	<body>
		<div class="page-header">
            <a href="{% url 'blog.views.post_new' %}" class="top-menu">REGISTER</a>
            <a href="{% url 'real_fantasy_adventure_app.views.<whatver>' %}" class="top-menu">Log-in</a>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
	</body>
</html>