/*h1 {
	color: #9C2A00;
	font-family: 'Cinzel', serif;
}

h1 a {
	color: #9C2A00;
	font-family: 'Cinzel', serif;
}

h2 {
	color: #9C2A00;
	font-family: 'Cinzel', serif;
}

h3 {
	color: #9C2A00;
	font-family: 'Cinzel', serif;
}

h4 {
	color: #9C2A00;
	font-family: 'Cinzel', serif;
}
*/
body {
	background-color: #FFFBD0;
}

.page-header {
	text-align: left;
    background-color: #DFBF86;
    margin-top: 0;
    background-image:url('/static/tacticsOgre.JPG');
    padding: 20px 20px 20px 40px;
}

.footer-list li {
	display: inline;
    background-color: #DFBF86;
    color: #FFFFFF;
    padding: 10px;
}