{% extends 'real_fantasy_adventure_app/base.html/' %}

{% load static %}

{% block title %}About{% endblock %}

{% block body_block %}
	<div class="page_content">
		<h2>Story</h2>
		<p>Dear visitor, <br /> <br /> There are many, many worlds and parallel universes. In one such 
			world there are a group of entities (or rather people, just like you and me ... but in a 
			different world/universe etc.) that call themselves <strong>Adventurers</strong>. Their 
			social status of adventurers on the simple social hierarchy of this world depends on the 
			effort they put in 3 different categories: Professional, Athletic, and Academic as well as 
			overall. In order to motivate themselves adventurers take on contractually binding MyQuests 
			that they write themselves and are cleared when they reach a certain level in each category. 
			<br /> However, adventurers live a very awkward life, they can't do anything themselves! They 
			carry emotion, so they want to bring themselves higher in the social hierarchy (pitifully 
			superficial creatures, but we see this in many worlds) but they cannot move their bodies for 
			any set amount of hours unless they are spritually/contractually connected to someone, a 
			<strong>user</strong>, who has done the same amount of work in each of the categories in 
			his/her world, and logs these 'achievements' in through an interface. <br /> This is where 
			you come in visitor. This website is one such interface for the adventurers to this world, 
			and <i>you</i> could be a potential <strong>user</strong>. <br /> How will this benefit you? 
			<br /> Not really much in particular, but doesn't having someone (uhh something?) depend on 
			you make you want to work harder as well? Will this harder work not pay off spectacularly 
			some point in the far future? If you are working alone doesn't it make you feel bad when no 
			one can acknowledge the work you have done? The adventurers can and they will feel very 
			grateful for it.
 		</p> <br />
	</div>
	<hr />
	<div class="Professional">

	</div>

	<img src="{% static "einekleine.jpg" %}" alt = "Picture of Cover" />
{% endblock %}
