<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Real Fantasy Adventure</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/real_fantasy_adventure_base.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Cinzel:400,700' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div class="page-header">
            <h1><a href="/real_fantasy_adventure_app/"> Real Fantasy Adventure </a></h1>
        </div>

        <h1>{{ avatar_name }}</h1>
        {% if avatar %}
            {% if myQuests %}
            <ul>
                {% for myQuest in myQuests %}
                <li><a href="{{ myQuest.url }}">{{ myQuest.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No myQuests currently in avatar.</strong>
            {% endif %}
        {% else %}
            The specified avatar {{ avatar_name }} does not exist!
        {% endif %}
    </body>
</html>