<!DOCTYPE html>
<html>
    <head>
        <title>Real Fantasy Adventure</title>
    </head>

    <body>
        <h1>Real Fantasy Adventure says...hello world!</h1>

        {% if academics %}
            <ul>
                {% for academic in academics %}
                <li><a href="/real_fantasy_adventure_app/avatar/{{ academic.slug }}">{{ academic.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no academics present.</strong>
        {% endif %}

        {% if professionals %}
            <ul>
                {% for professional in professionals %}
                <li><a href="/real_fantasy_adventure_app/avatar/{{ professional.slug }}">{{ professional.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no professionals present.</strong>
        {% endif %}

        {% if athletes %}
            <ul>
                {% for athlete in athletes %}
                <li><a href="/real_fantasy_adventure_app/avatar/{{ athlete.slug }}">{{ athlete.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no athletes present.</strong>
        {% endif %}

        <a href="/real_fantasy_adventure_app/about/">About</a>
    </body>
</html>