{% extends 'real_fantasy_adventure_app/base.html/' %}

{% load static %}

{% block title %}Log-in{% endblock %}

{% block body_block %}
    <h2>Register with Real Fantasy Adventure</h2>

    {% if registered %}
    <strong>Thank you for registering!</strong>
    <a href="/real_fantasy_adventure_app/">Return to the homepage.</a><br />
    {% else %}
    <strong>Enlist here to become an adventurer and begin your journey!</strong><br />

    <form id="user_form" method="post" action="/real_fantasy_adventure_app/register/"
            enctype="multipart/form-data">

        {% csrf_token %}

        <!-- Displays each form. The as_p method wraps each element in a (<p>) element. -->
        {{ user_form.as_p }}
        {{ avatar_form.as_p }}

        <!-- Provide a button to click to submit the form. -->
        <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
{% endblock %}